@model IEnumerable<WebApplication8.ViewModel.Class1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.invoice.InvoiceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee.FirstName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.invoice.InvoiceId)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.employee.FirstName)
            </td>

        </tr>
    }

</table>
